#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

#user-list {
  list-style: none;
  margin: 30px;
  padding: 20px;
}

li {
  list-style: decimal;
  display: flex;
  flex-direction: column;
}

img {
  Width: 100%;
}